<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'note_app/js/base_generic.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'note_app/css/base_generic.css' %}">
    {% block navbar %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="d-flex align-items-center h100">
                <a href="{% url 'dashboard-view' %}" class="btn btn-dark">Home</a>
               
                
                {% if user.is_authenticated %}
                    <a href="#" class="btn btn-dark"> {{ user.get_username }} </a>
                    <a class="navbar-brand" tabindex="0" role="button" href="#" data-container="body" data-trigger="focus" title="{{ request.user.username }}" data-toggle="popover" data-placement="bottom" data-content='
                        <div class="list-group list-group-flush">
                            <a href="{% url 'profile-view' %}" class="list-group-item list-group-item-action">My Profile</a>
                            <a href="{% url 'upload-view' %}" class="list-group-item list-group-item-action">My Uploads</a>
                            <a href="#" class="list-group-item list-group-item-action">Followers</a>
                            <a href="#" class="list-group-item list-group-item-action">Settings</a>
                        </div>
                    '> 
            
                    {% load static %}
                    <img src="{% static 'note_app/assets/icons/ic_profile.svg' %}" width="30" height="30" class="d-inline-block align-top" alt=""> {{ request.user.first_name }} {{ request.user.last_name }}
                </a>
                {% endif %}
            </div>
            

            <div class="btn-group" role="group" aria-label="Navigation" style="text-align:center;">
                
                {% if not user.is_authenticated %}
                <a href="{% url 'login'%}?next={{request.path}}" class="btn btn-dark">Login</a>   
                <a href="{% url 'profile-signup' %}" class="btn btn-dark">Sign Up</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'note-upload' %}" class="btn btn-dark">Upload</a>
                <a href= "{% url 'logout'%}?next={{request.path}}" class="btn btn-dark">Logout</a> 
                {% endif %}
                <a href="{% url 'search-view' %}" class="btn btn-dark">
                    {% load static %}
                    <img src="{% static 'note_app/assets/icons/ic_search.svg' %}" width="30" height="30">
                </a>
            </div>
        </div>
    </nav>
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>

</html>