{% extends "base_generic.html" %}

{% block content %}
            
<h1 class="card-section-header" align="left">
    Search
    {% load static %}
    <img src="{% static 'note_app/assets/icons/ic_chevron_right.svg' %}" width="30" height="30">
    <div class="topnav">
        <input type="text" placeholder="">
        <img src="{% static 'note_app/assets/icons/ic_search.svg' %}" width="30" height="30"></a> 
        <p>{% load static %}
        &nbsp Advanced search options </p>  
     </div>
</h1>


<div class="row" id="recent-notes">
    {% for note in note_results %}
    <div class="col-sm-3 col-xs-2 search-notes">
        <div class="card">
            {% load static %}
            <img class="card-img-top img-responseive" src="{% static 'note_app/assets/pdf_placeholder.png' %}" alt="Note">
            <div class="card-body">
                <h4 class="card-title">{{ note.title }}</h4>
                <p class="card-text">{{ note.author }}, {{ note.course }} </br> Karma: {{ note.karma }}</p>
                <a href="{% url 'note-view' pk=note.note_id %}" class="btn btn-dark card-link">Open</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h1 class="card-section-header" align="left">
 Load More Results
    {% load static %}
    <img src="{% static 'note_app/assets/icons/ic_chevron_right.svg' %}" width="30" height="30">
</h1 class="more-results">
{% load static %}
<script src="{% static 'note_app/js/search.js' %}"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'note_app/css/search.css' %}">
{% endblock %}