/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}
html, body{
    background-color: #7FFFD4;
}
h1{
  font-size: 2.5rem;
  color: blue;
  font-family: "Snell Roundhand", cursive;
  font-style: italic;


}
#Me{
  font-size: 3.0rem;
  text-decoration: underline;
  font-family: Brush Script MT, Brush Script Std, cursive
  
}

#Rep{
    font-size: 1.5rem;
    color:  #FF7F50;
  font-family: Arial Narrow, sans-serif;
}

#Avg{
  font-weight: bold;
}
.text-left{
  font-size: 1.5rem;
    color:  #FF7F50;
  font-family: Arial Narrow, sans-serif;
}
#rep{
    font-size: 1.5rem;
    color:  #FF7F50;
  font-family: Arial Narrow, sans-serif;
}